body {
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(43, 43, 44);
  color: rgb(197, 198, 201);
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 12px;
  text-align: center;
  position: relative;
  height: 100%;
  max-height: 3000px;
}

section {
  font-size: 40px;
  font-family: "Segoe UI", Tahoma, sans-serif;
  padding: 10px;
  background-color: rgb(43, 43, 44);
}

.hyperlink {
  color: rgb(113, 142, 230);
  text-decoration: none;
}

.hyperlink:hover {
  color: rgb(89, 103, 148);
}

.header {
  background-image: url("");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  padding: 10vw 2em;
  text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: visible;
}

.fade-in {
  opacity: 1;
  transition: opacity 0.5s linear;
}

.text {
  text-align: center;
  font-weight: lighter;
  font-size: 40px;
}

.footer {
  position: relative;
  margin-top: 10%;
  text-align: center;
  bottom: 0;
}

#navbar {
  opacity: 1;
  /*animation: 0.5s linear 0s 1 normal none running fadein;*/
  visibility: visible;
  z-index: 999;
  overflow: hidden;
  /*background-color: rgb(43, 45, 53);*/
  background-color: rgb(43, 43, 44);
  left: 0px;
  right: 0px;
}

.navbar-a {
  float: right;
  display: block;
  font-weight: bold;
  color: rgb(168, 173, 194);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 25px;
}

.navbar-a:hover {
  color: rgb(89, 103, 148);
}

.link {
  display: inline;
}

#navbar-name {
  float: left;
  font-weight: bold;
  display: block;
  color: rgb(168, 173, 194);
  text-align: left;
  padding: 14px;
  text-decoration: none;
  font-size: 25px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(26, 26, 32);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(57, 57, 70);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(71, 71, 82);
}

#a {
  font-size: 95px;
}

#email-icon {
  height: auto;
  width: 5.75%;
}

#ball {
  height: auto;
  width: 30%;
}

#github {
  height: auto;
  width: 3%;
}

#linkedin {
  margin-left: 17px;
  height: auto;
  width: 3%;
}


.question-input {
  margin-bottom: 20px;
}

.answer {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.5;
  opacity: 0;
  animation: fadein;
}

button {
  background-color: rgb(26, 26, 32);
  color: rgb(197, 198, 201);
  border: none;
  text-align: center;
  font-size: 16px;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #3c3b61;
  color: rgb(197, 198, 201);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
